{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
            <<table class="table" style="border: solid #8959A8 1px ">
                <div class="row align-self-right">
                    <div class="col-5 bg-light p-3">
                        <h3>Mes Commandes</h3>
                    </div>
                </div>
                <caption>Récapitulatif de mes commandes</caption>
                <thead class="thead-dark">
                <tr>
                    <th>User</th>
                    <th>Produit ajouté </th>
                    <th>Quantité </th>
                    <th>Date </th>
                    <th>Supprimer ma commande </th>
                    <th>Ajouter ma commande </th>


                </tr>

                </thead>
                {% for panier in ligne_panier %}
                    <tr style="border: solid #56a83e 2px ">
                        <td>
                            {{panier.user.username}}
                        </td>
                        <td>
                            {{panier.produit}}
                        </td>
                        <td>{{panier.quantite}}</td>
                        <td>{{panier.dateAchat | date("d/m/Y")}}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ path('commande_delete', {id: panier.produit.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer ce produit ?');">
                                <i class="fas fa-trash"></i>
                                Supprimer
                            </a>
                        </td>
                        <td><a class="btn btn-success" href="{{ path('commande_add', {id: panier.produit.id}) }}")">
                            <i class="fas fa-trash"></i>
                            Ajouter
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-success" href="{{ path('commande_showAllCommandes')}}");>
                <i class="fas fa-trash"></i>
                Voir toutes les commandes
            </a>
        </div>
    </div>
{% endblock %}