{#https://getbootstrap.com/docs/5.0/components/navbar/#}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><span style="color:#00ff40;">Admin </span> Sen Jaba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownCommandes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Commandes
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownCommandes">
                    <a class="dropdown-item" href="{#{  path('gestion_commande_show') }#}">Gestions des commandes</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownClient" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clients
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownClient">
                    <a class="dropdown-item" href="{{ path('client_panier_index') }}">Page des clients</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownEvenements" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produits
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownProduits">
                    <a class="dropdown-item" href="{{ path('admin_produit_show') }}">Gestion des produits</a>
                    <a class="dropdown-item" href="{{ path('admin_produit_details') }}"> Détails des types de produit </a>
                    <a class="dropdown-item" href="{{ path('admin_type_produit_index') }}"> Gestion des types de produit </a>
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav ms-auto">
            <!-- Authentication Links -->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="navbar-text mr-2 h5">
                    Bonjour {{ app.user.username }}
                    {% if is_granted('ROLE_ADMIN') %} (role : Admin )
                    {% elseif is_granted('ROLE_CLIENT') %} (role : Client ) {% endif %}
            </span>
                <a class="btn btn-outline-success" type="button" href="{{path('app_logout') }}">
                    Se déconnecter
                </a>
            {% else %}
                <a class="btn btn-outline-success" type="button" href="{{path('app_login') }}">
                    Se connecter
                </a>
                <a class="btn btn-outline-success" type="button" href="{#{path('changePassword') }#}">
                    Mot de passe oublié
                </a>
            {% endif %}
        </ul>
    </div>
</nav>