{% extends 'admin/layout.html.twig' %}

{% block title %}TypeProduit{% endblock %}

{% block body %}
    <h1>Visionnage du produit</h1>

    <table class="table table-striped" id="matable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_produit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_produit.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_type_produit_index') }}" class="btn btn-primary btn-lg mr-3">retour à la liste de produit</a>

    <a href="{{ path('type_produit_edit', {'id': type_produit.id}) }}" class="btn btn-primary btn-lg">edit</a>
    <div class="btn btn-primary m-1 p-1">  {{ include('admin/type_produit/_delete_form.html.twig') }}</div>

{% endblock %}
