{#https://getbootstrap.com/docs/5.0/components/navbar/#}
<nav class="navbar navbar-expand-lg navbar-dark" style="background: teal;">
    <a class="navbar-brand" href="#">Sen Jaba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownCommandes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Voir nos offres
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownCommandes">
                    <a class="dropdown-item" href="{{ path('admin_produit_show') }}">nos produits</a>
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav ms-auto">
            <!-- Authentication Links -->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="navbar-text">
                    Bonjour {{ app.user.username }}
                    {% if is_granted('ROLE_ADMIN') %} (role : Admin )
                    {% elseif is_granted('ROLE_USER') %} (role : User ) {% endif %}
            </span>
                <a class="btn btn-outline-success" type="button" href="{{path('app_logout') }}">
                    Se déconnecter
                </a>

            {% else %}
                <a class="btn btn-success" type="button" href="{{path('app_login') }}">
                    Se connecter
                </a>
                <a class="btn btn-success" type="button" href="{{ path('user_registration') }}">
                    S'inscrire
                </a>

                <a class="btn btn-success" type="button" href="{#{path('changePassword') }#}">
                    Mot de passe oublié
                </a>
            {% endif %}

        </ul>
    </div>
</nav>
