{% extends 'client/layout_client.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        <div class="col-xs4">
            <h1>Mon Profil</h1>
            {% for message in app.flashes("message")  %}
                <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/> </svg>

                    {{ message }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for messagesu in app.flashes("success")  %}
                <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/> </svg>

                    {{ messagesu }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <div class="col-xs1">Nom d'utilisateur:</div>
        <div class="col-xs3"> <h3>{{ app.user.username }}</h3></div><br>
        <div class="col-xs1">Email :</div>
        <div class="col-xs3"><h3>{{ app.user.email }}</h3></div><br><br>
        <div class="col-xs4">
            <a href="{{ path('users_profil_modifier') }}" class="btn btn-info">Modifier votre profil</a>
            <a href="{{ path('users_pass_modifier')}}" class="btn btn-info">Modifier votre mot de passe</a>
        </div>

    </div>
{% endblock %}